@media all and (max-width: 767px) {
    .title-create-dishes {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 575px) {
    .card-create-dishes{
        .heart{
            width:70px !important;
            height:30px !important;
        }
        .btn-create-dishes{
            font-size: x-small;
        }
        .title-create-dishes {
            font-size: 1rem;
            lord-icon{
                width:70px !important;
                height:30px !important;
            }
        }
        .h5-create-dishes{
            font-size: 0.8rem;
        }
    }
}

@media all and (max-width: 460px) {
    .card-create-dishes {
        .title-create-dishes {
            font-size: 1rem;
            lord-icon {
                width: 30px !important;
                height: 30px !important;
            }
        }

        .h5-create-dishes {
            font-size: 0.8rem;
        }
    }
}
