.card-order-index{
    width: 18rem;
}

@media all and (max-width: 943px) {
    .container-card-order {
        display: flex;
        justify-content: center;

        .card-order-index {
            width: 22rem;
        }
    }
}

@media all and (max-width: 490px) {
    .card-order-index {
        width: 15rem !important;
    }
}